
body{
	background-color: #7f8c8d;
}
.wrapper {
	min-width: 400px;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
}
.wrapper-content {
	background-color: #ecf0f1;
} 

header {
	height: 200px;
	background-color: #2ecc71;
	color: white;
}

#navigation-top {
	height: 40px;
	background-color: #34495e;
	text-align: right;
}
#navigation-top a {
	color: white;
	line-height: 40px;
	text-decoration: none;
	padding: 0 15px;

}

#navigation-top a:hover {
	color: blue;
	border: 1px solid blue;	
}

.navigation-right {
	position: absolute;
	width: 150px;
	height: 275px;
	background-color: white;
	right: -170px;
	box-shadow: 50px;
}

.navigation-right a {
	display: block;
	padding-bottom: 3px;
	padding-left: 20px;
	text-decoration: none;
	color: #95a5a6;
	font-size: 80%;
}
.navigation-right h4 {
	padding-left: 10px;
	padding-bottom: ;
}

/*Main Content*/

.content-main {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.content-main p{
	padding-left: 20px;
}


/*Section One*/

.section-one {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.section-one p {
	padding-left: 20px;
}


/*Section Two*/

.section-two {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.section-two p {
	padding-left: 20px;
}


/*Section Three*/

.section-three {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.section-three p {
	padding-left: 20px;
}